/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

    /* FONT  */

body {
    font-family: 'Roboto', sans-serif;
    color: #454753;
}

h1 {
    font-family: 'DM Serif Display', serif;
}

/* NAV */

nav {
    border: 5px solid red;
    display: flex;
    justify-content: space-between;
}

nav * {
    border: 1px solid blue;
}

.logo-container {
    width: 20%;
    margin-left: 50px;
}

.menu-container {
    width: 10%;
    text-align: center;
    margin-right: 50px;
    padding-top: 15px;
}

.menu-container img {
    width: 100%;
}

nav img {
    width: 100%;
}



/* HEADER  */

header {
    border: 5px solid rgb(255, 136, 0);
}

header * {
    border: 1px solid blue;
}


@media (max-width: 768px) {
  
        /* HEADER */
        
    header {
        display: flex;
        flex-direction: column;
    }

    header button {
        width: 90%;
        color: white;
        background-color: #192592;
        border-radius: 5px;
        padding: 10px 0;
    }

    header h1 {
        margin-top: 40px;
        width: 50%;
        font-size: 3em;
    }

    .intro {
        margin-left: 20px;
    }

    h1 + p {
        width: 90%;
        font-size: 1.8em;
    }

    .log-in {
        text-align: center;
        /* width: 50%; */
        margin: 16px auto;
        font-size: 1.7em;
    }
}